*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


  ::-webkit-scrollbar:horizontal{
    height: 5px;
}
  ::-webkit-scrollbar-thumb:horizontal{
          background: #555;
          border-radius: 6px;
          
}


nav{
    padding: 1rem 1rem !important;
    margin-top: .4rem;
}


/* Hamburger Menu code Start */

.hamburger-menu{
    cursor: pointer;
    position: relative;
    z-index: 95;
}

.checkbtn {
	
    height: 35px !important;
    width: 35px;
    border: 5px solid red;
    position: absolute;
    z-index: 30;
    top: 0px;
    opacity: 0;
}


.menu-bar{
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 2rem;
    border: .1rem solid #33333367;
    border-radius: 5px;
    padding: .4rem .9rem;
    
}

.bar1, .bar2, .bar3 {
  width: 17px;
  height: 2px;
  background-color: #3333338f;
  margin: 3px 0;
  transition: 0.4s;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-bar .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
  }
  
  .hamburger-menu input[type="checkbox"]:checked ~ .menu-bar .bar2 {
      opacity: 0;
  }
  
  .hamburger-menu input[type="checkbox"]:checked ~ .menu-bar .bar3 {
    transform: translate(0, -5px) rotate(45deg);
  }

.menu-items{
    transition: all .3s ease-out;
}

.menu-items .fill-details{
    width: 70vw;
    position: absolute;
    transform: translateX(-170%);
    margin-left: -1.5rem;
    height: 100vh;
    background: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    transition: all .3s ease-out;
    /* background-color: #FF002B; */
 
}

.menu-items .alert{
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    transform: translateX(-170%);
    transition: all .0s ease-in;
    width: 60vw !important;
}


@media screen and (min-width:500px) and (max-width:767px) {

    .menu-items .fill-details{
        width: 45vw;     
    }
    
    .menu-items .alert{
        width: 35vw !important;
    }
   
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items .fill-details{

    position: absolute;
    transform: translateX(0%);
    transition: all .3s ease-in;
    z-index: 99;

}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items .alert{

    transform: translateX(0%);
    position: relative;
    left: 1rem;
    transition: all .3s ease-in;
    z-index: 99;

}

/* Hamburger Menu Code End */


/* Hamburger Navigation Menu Code Start */




.hamburger-nav input{
    position: absolute;
    right: 0.5rem;
    top: -.3rem;
    height: 35px !important;
    width: 35px;
    z-index: 70;
    opacity: 0;
}

.hamburger-nav ul{
    list-style-type: none;
    padding-left: 0rem;
    margin-left: .3rem; 
    cursor: pointer;
}

.hamburger-nav ul li{
    padding: 0rem .5rem;
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: 800;
    color: #6c7381;
}

.hamburger-menu-nav{
    position: absolute;
    z-index: 50;
    right: 0rem;
	top: 0rem;
    margin-right: .4rem;
    border: .1rem solid #33333367;
    border-radius: 5px;
    padding: .4rem .9rem;
    
    
}

.nav-bar1, .nav-bar2, .nav-bar3 {
  width: 17px;
  height: 2px;
  background-color: #3333338f;
  margin: 3px 0;
  transition: 0.4s;
}

.nav-menu {
    margin-top: -1.3rem;
 }

 .nav-menu li {
    float: left;
    transition: all .3s ease-in;
 }

.hamburger-nav input[type="checkbox"]:checked ~ .hamburger-menu-nav .nav-bar1 {
    transform: translate(0, 5px) rotate(-45deg);
  }
  
  .hamburger-nav input[type="checkbox"]:checked ~ .hamburger-menu-nav .nav-bar2 {
      opacity: 0;
  }
  
  .hamburger-nav input[type="checkbox"]:checked ~ .hamburger-menu-nav .nav-bar3 {
    transform: translate(0, -5px) rotate(45deg);
  }





@media screen and (max-width:850px) {
    nav .notify-icon{
        display: inline-block;
        margin-right: 4.5rem !important;
        margin-top: -5rem !important;
    }
}

@media screen and (min-width:851px) {
    .hamburger-menu-nav{
        display: none;
    }
}

@media screen and (min-width:851px) {
    .navCheckBtn{
        display: none;
    }
}

@media screen and (max-width:850px) {
    .nav-menu{
        display: none;
      }
}

@media screen and (max-width:850px) {
    .hamburger-nav input[type="checkbox"]:checked ~ ul {
        position: absolute;
        background: white;
        color: #6c7381;
        padding: 2rem 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        top: 5rem;
        right: 10.5rem;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
        transform: translateX(70%);
        z-index: 80;
        margin-top: -1.8rem;
      }
}


/* Hamburger Navigation Menu Code End */


div.container-fluid p.online{
    font-size: 1.2rem;
    padding: 0 .5rem;
}

nav .icon{
    width: 8rem;
    margin-top: -.5rem;
}

nav ul li{
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

nav .mode{
    width: 5.5rem;
    height: 2.8rem;
}

.main-content{
    background-color: #F3F4F7;
    height: 100%;
    padding: 1rem .3rem;
}

.line{
    color: gray;
    opacity: .1;
    margin-top: -.1rem;
}

.main-image{
    object-fit: cover;
    width: 100%;
}

.live-img-btn{
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    color: white;
    background-color: #FF002B;

}

.live-img-viewers{
    position: absolute;
    top: 2.5rem;
    left: 8.5rem;
    color: white;
    background-color: #00000060;
}

.sidebar a{
    text-decoration: none;
}

/* .container-fluid .sidebar{
    position: relative;
    top: 6.5rem;
    left: 0;
} */

div.email-div input{
    background: #F9F9FB;
    border: 1px solid transparent;
    outline: none;
    height: 5vh;

}

form div.email-div input:focus{
    background: #F9F9FB;

}

.rankings a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.live-btn{
    margin-top: -1rem;
}

.team-image{
    background-color: #F3F4F7;
    border-radius: 50%;
    padding: .8rem;
    object-fit: fill;
    height: 80px;
    width: 80px;
    object-position: center center;
}

.team-logo{
    margin-top: .5rem;
}


ul.listgroup1 li{
    font-size: 1.2rem;
    background: red;
}

.scroll-adjust{
    height: 80vh;
}


/* Responsive Code */
@media screen and (min-width: 768px){
    .hamburger-menu{
        display: none;
    }
}

@media screen and (max-width: 850px){
    nav .mode{
        display: none;
    }
}

@media screen and (max-width: 575px){
    nav .online{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .container-fluid .sidebar{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .alert{
        width: 22% !important;
    }
}